@page "/"

@using DataLayer.Models;
@using ServiceLayer;
@inject IPasswordService PasswordManager;
@inject IUserService UserManager;
@inject NavigationManager NavManager;

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">First heh</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (MyPasswords.Count > 0)
            {
                foreach (Password password in MyPasswords)
                {
                    <tr>
                        <td>@password.Website</td>
                        <td>@password.Username</td>
                        <td>@password.Pass</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

@code {
    public List<Password> MyPasswords { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        if (UserManager.CheckIfLoggedIn())
        {
            await UpdatePasswordList();
        }
        else
        {
            NavManager.NavigateTo("/Login");
        }
    }

    private async Task UpdatePasswordList()
    {
        MyPasswords = PasswordManager.GetAllPasswords();
    }
}
