@page "/Login"

@using ServiceLayer;
@inject IUserService UserManager;
@inject NavigationManager NavManager;
@inject ISafeHandler SafeHandlerManager;

<div style="width:300px; margin-left:auto; margin-right:auto;">
    <h3>Please login to continue</h3>
    <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input @bind-value="Username" type="text" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">Username</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input @bind-value="Password" type="password" id="form2Example2" class="form-control" />
            <label class="form-label" for="form2Example2">Password</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                </div>
            </div>

            <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
            </div>
        </div>

        <!-- Submit button -->
        <button type="button" @onclick="() => TryLogin()" class="btn btn-primary btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
            <button type="button" @onclick="() => CreateAccount()" class="btn btn-link btn-block mb-4">Register</button>
        </div>
    </form>
</div>

@code {
    public string? Username { get; set; }
    public string? Password { get; set; }

    public void TryLogin()
    {
        if (UserManager.Login(Username, SafeHandlerManager.HashPasswordWithSalt(Password, UserManager.GetUserSalt(Username))))
        {
            NavManager.NavigateTo("/");
        }
    }

    public void CreateAccount()
    {
        NavManager.NavigateTo("/Register");
    }
}