@inherits LayoutComponentBase

@using ServiceLayer;
@inject IUserService UserManager;
@inject NavigationManager NavManager;

<PageTitle>PassBox</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            @if (!string.IsNullOrEmpty(UserManager.GetCurrentUsername()))
            {
                <h5>Hello @UserManager.GetCurrentUsername()</h5>
            }
            @if (NavManager.Uri != NavManager.BaseUri + "Login")
            {
                <button @onclick="() => LogOut()" class="btn btn-danger">Log out</button>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    public void LogOut()
    {
        if (UserManager.Logout())
        {
            NavManager.NavigateTo("/Login");
        }
    }
}
